<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<EDRDocument>
    <Header>
        <DocumentId>$!{docmentId}</DocumentId>
        <OperateType>$!{operateEnum}</OperateType>
        <BusinessActivityIdentification>MentalHealth</BusinessActivityIdentification>
        <ReportZoneCode version='1.0' value='$!{zoneCodeValue}'>$!{zoneCode}</ReportZoneCode>
        <ReportOrgCode version='1.0' value='$!{orgCodeValue}'>$!{orgCode}</ReportOrgCode>
        <License>$!{licenseCode}</License>
    </Header>
    <Body>
    <PersonInfo>
        <PersonID>$!{BasicInformationId}</PersonID>
        <PatientName>$!{PatientName}</PatientName>
        <IdCardTypeCode version='1.0' value='$!{IDTypeNam}'>$!{IDType}</IdCardTypeCode>
        <IdCard>$!{IDCode}</IdCard>
        <GenderCode version='1.0' value='$!{GenderNam}'>$!{GenderCode}</GenderCode>
        <NationalityCode version='1.0' value='$!{NationalityNam}'>$!{Nationality}</NationalityCode>
        <BirthDate>$!{BirthDate}</BirthDate>
        <Age>$!{Age}</Age>
    </PersonInfo>
    <TreatmentInfo>
        <ID>$!{DischargeInformationId}</ID>
        <ReportID>$!{CaseReportId}</ReportID>
        <ReportZoneCode version='1.0' value='$!{ZoneNam}'>$!{ZoneCd}</ReportZoneCode>
        <ReportOrgCode version='1.0' value='$!{OrgCodeValue}'>$!{OrgCode}</ReportOrgCode>
        <PatientRegistrationNumber>$!{NewCaseReportNumber}</PatientRegistrationNumber>
        <InhospitalNo>$!{InMentalNumber}</InhospitalNo>
        <AdmissionDate>$!{Admissiontime}</AdmissionDate>
        <DischargeDate>$!{Dischargetime}</DischargeDate>
        <PsychogenyPastHospital>$!{InMentalHospital}</PsychogenyPastHospital>
        <PsychogenyPastDangerousCodeList>
#foreach($!{risk} in $!{PastRiskHave})
            <PsychogenyPastDangerousCode version='1.0' value='$!{risk.Nam}'>$!{risk.DictCode}</PsychogenyPastDangerousCode>
#end
        </PsychogenyPastDangerousCodeList>
        <PsychogenyPastRiskCode version='1.0' value='$!{RiskNowNam}'>$!{RiskNow}</PsychogenyPastRiskCode>
        <DiseaseCode version='1.0' value='$!{DischargeDiagnosisNam}'>$!{DischargeDiagnosis}</DiseaseCode>
        <DiagnoseTime>$!{DiagnosisDate}</DiagnoseTime>
        <IfNoMedication version='1.0' value='$!{IfNoMedicationNam}'>$!{IfNoMedication}</IfNoMedication>
#if($!{IfNoMedication}==0)
        <DrugList>
#foreach($!{drug} in $!{DrugList})
#if($!{drug.IfLongAct}==1)
            <DrugInfo>
                <DrugID>$!{drug.DrugID}</DrugID>
                <Sort>$!{drug.SortNo}</Sort>
                <LongActingDrugFlagCode version='1.0' value='$!{drug.IfLongActNam}'>$!{drug.IfLongAct}</LongActingDrugFlagCode>
                <DrugCode version='1.0' value='$!{drug.DrugNam}'>$!{drug.DrugCode}</DrugCode>
                <DrugSpecifications>$!{drug.LDrugSpecifications}</DrugSpecifications>
                <DrugDoseCode>$!{drug.DrugUnit}</DrugDoseCode>
                <LongActingDrugFrequency>$!{drug.LDrugFrequency}</LongActingDrugFrequency>
                <LongActingDrugFrequencyUnitCode version='1.0' value='$!{drug.UseDailyNam}'>$!{drug.UseDailyCode}</LongActingDrugFrequencyUnitCode>
                <LongActingDrugDose>$!{drug.LDrugDose}</LongActingDrugDose>
            </DrugInfo>
#elseif($!{drug.IfLongAct}==0)
            <DrugInfo>
                <DrugID>$!{drug.DrugID}</DrugID>
                <Sort>$!{drug.SortNo}</Sort>
                <LongActingDrugFlagCode version='1.0' value='$!{drug.IfLongActNam}'>$!{drug.IfLongAct}</LongActingDrugFlagCode>
                <DrugCode version='1.0' value='$!{drug.DrugNam}'>$!{drug.DrugCode}</DrugCode>
                <DrugSpecifications>$!{drug.SDrugSpecifications}</DrugSpecifications>
                <DrugDoseCode>$!{drug.DrugUnit}</DrugDoseCode>
                <NonLongActingDrugDoseMorning>$!{drug.SDrugDosem}</NonLongActingDrugDoseMorning>
                <NonLongActingDrugDoseNoon>$!{drug.SDrugDosen}</NonLongActingDrugDoseNoon>
                <NonLongActingDrugDoseEvening>$!{drug.SDrugDosee}</NonLongActingDrugDoseEvening>
            </DrugInfo>
    #end
#end
        </DrugList>
#end
        <TreatmentEffectCode version='1.0' value='$!{InMentalEffectNam}'>$!{InMentalEffect}</TreatmentEffectCode>
        <GuideIfNoMedication version='1.0' value='$!{GuideIfNoMedicationNam}'>$!{GuideIfNoMedication}</GuideIfNoMedication>
#if($!{GuideIfNoMedication}==0)
        <GuideDrugList>
#foreach($!{guideDrug} in $!{GuideDrugList})
#if($!{guideDrug.IfLongAct}==1)
            <DrugInfo>
                <DrugID>$!{guideDrug.DrugID}</DrugID>
                <Sort>$!{guideDrug.SortNo}</Sort>
                <LongActingDrugFlagCode version='1.0' value='$!{guideDrug.IfLongActNam}'>$!{guideDrug.IfLongAct}</LongActingDrugFlagCode>
                <DrugCode version='1.0' value='$!{guideDrug.DrugNam}'>$!{guideDrug.DrugCode}</DrugCode>
                <DrugSpecifications>$!{guideDrug.LDrugSpecifications}</DrugSpecifications>
                <DrugDoseCode>$!{guideDrug.DrugUnit}</DrugDoseCode>
                <LongActingDrugFrequency>$!{guideDrug.LDrugFrequency}</LongActingDrugFrequency>
                <LongActingDrugFrequencyUnitCode version='1.0' value='$!{guideDrug.UseDailyNam}'>$!{guideDrug.UseDailyCode}</LongActingDrugFrequencyUnitCode>
                <LongActingDrugDose>$!{guideDrug.LDrugDose}</LongActingDrugDose>
            </DrugInfo>
#elseif($!{guideDrug.IfLongAct}==0)
            <DrugInfo>
                <DrugID>$!{guideDrug.DrugID}</DrugID>
                <Sort>$!{guideDrug.SortNo}</Sort>
                <LongActingDrugFlagCode version='1.0' value='$!{guideDrug.IfLongActNam}'>$!{guideDrug.IfLongAct}</LongActingDrugFlagCode>
                <DrugCode version='1.0' value='$!{guideDrug.DrugNam}'>$!{guideDrug.DrugCode}</DrugCode>
                <DrugSpecifications>$!{guideDrug.SDrugSpecifications}</DrugSpecifications>
                <DrugDoseCode>$!{guideDrug.DrugUnit}</DrugDoseCode>
                <NonLongActingDrugDoseMorning>$!{guideDrug.SDrugDosem}</NonLongActingDrugDoseMorning>
                <NonLongActingDrugDoseNoon>$!{guideDrug.SDrugDosen}</NonLongActingDrugDoseNoon>
                <NonLongActingDrugDoseEvening>$!{guideDrug.SDrugDosee}</NonLongActingDrugDoseEvening>
            </DrugInfo>
#end
#end
        </GuideDrugList>
#end
        <NextMeasuresCodeList>
#foreach($!{measure} in $!{RecoveryMeasures})
            <NextMeasuresCode version='1.0' value='$!{measure.Nam}'>$!{measure.DictCode}</NextMeasuresCode>
#end
            <NextMeasuresCodeOther>$!{RecoveryMeasuresDesc}</NextMeasuresCodeOther>
        </NextMeasuresCodeList>
        <NextMeasuresOther>$!{OtherConsider}</NextMeasuresOther>
        <DoctorName>$!{FillDoctorName}</DoctorName>
        <DoctorPhone>$!{DoctorTel}</DoctorPhone>
        <FillDate>$!{FillDate}</FillDate>
    </TreatmentInfo>
    </Body>
</EDRDocument>
