<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<EDRDocument>
    <Header>
        <DocumentId>$!{docmentId}</DocumentId>
        <OperateType>$!{operateEnum}</OperateType>
        <BusinessActivityIdentification>$!{activityion}</BusinessActivityIdentification>
        <ReportZoneCode version='1.0' value='$!{zoneCodeValue}'>$!{zoneCode}</ReportZoneCode>
        <ReportOrgCode version='1.0' value='$!{orgCodeValue}'>$!{orgCode}</ReportOrgCode>
        <License>$!{licenseCode}</License>
    </Header>
    <Body>
    <FollowupInfo>
        <ID>$!{FollowUpInformationId}</ID>
        <DelCause version='1.0' value='$!{DelReasonValue}'>$!{DelReason}</DelCause>
    </FollowupInfo>
    </Body>
</EDRDocument>
